.thirdSectionContainer{
    display: flex;
    flex-direction: column;
    margin-top: -0.6rem;
}
.reviewSection1{
    display: flex;
    justify-content: center;
    height: 500px;
    width: auto;
}

.reviewContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aqua;
}

.reviewSection2{
    display: flex;
}

.reviewContainer2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 72, 234);

}