.selectorContainer{
    background-color: rgb(112, 153, 199);
    width: 60px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    gap: 1rem;
    top: 50%;
    left: 1%;
    z-index: 10;
}
.button{
    border: 3px solid black;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(94, 94, 94);
}
.button:hover{
    cursor: pointer;
    scale: 0.9;
}

.activeButton{
    border: 3px solid black;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 193, 62);
}

.link,
.link:visited,
.link:active{
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
}