.fifthArticleContainer{
    background-color: rgb(2, 28, 57);
    height: 20rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.leftPillar{
    height: 100%;
    width: 60px;
    margin-left: -2px;
    border: 1px solid wheat
}
.rightPillar{
    height: 100%;
    width: 60px;
    margin-right: -2px;
    border: 1px solid wheat 
}
.middlePillar{
    height: 100%;
    width: 100%;
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoText{
    margin: 0;
    color: wheat;
}