.firstbodyContainer{
    background-image: url('../../../../images/statue-of-buddha-sitting-in-lotus-position-with-ra-2023-11-27-04-56-48-utc.jpg');
    background-size: 80%;
    height: 1000px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    flex-direction: column;
    text-align: center;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}