.secondArticleContainer{
    background-color: rgb(2, 28, 57);
    height: 40rem;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;

}
.secondArticleText{
    margin: 0;
    width: 50%;
    font-size: 1.5rem;
}
.secondArticleTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: wheat;
    font-size: 1.5rem;
}

.button{
    margin:  1rem 0 1.5rem 0;
    width: 100px;
    height: 30px;
    border-radius: 2rem;
    background-color: transparent;
    border-color: wheat;
    color: wheat;
}
.button:hover{
    cursor: pointer;
    color: black;
    background-color: wheat;
    transition: ease-in-out 0.2s;
}

.button:not(:hover){
    transition: ease-in-out 0.2s;
}

.leftPillar{
    height: 100%;
    width: 60px;
    margin-left: -5px;
    border: 1px solid wheat
}
.rightPillar{
    height: 100%;
    width: 60px;
    margin-right: -5px;
    border: 1px solid wheat 
}