.navbarTwoContainer{
    background-color: rgb(46, 46, 46);
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: rgb(248, 208, 47);
}
.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoText{
    font-size: 16px;
    margin: 0;
}

.menuSvg{
    height: 40px;
    width: 40px;
    background-image: url('../../../../images/menubar.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border-color: transparent;
}

.menuSvg:hover{
    cursor: pointer;
    scale: 0.9;
}