.thirdbodyContainer{
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
}
.textTitle{
    text-align: center;
    color: rgb(245, 182, 66);
}
.thirdbodyText{
    font-size: 18px;
    width: 20%;
    color: rgb(81, 81, 81);
}
.thirdbodyText::after{
    content: "";
    position: absolute;
    left: 58rem;
    top: 104rem;
    height: 350px;
    width: 550px;
    background-color: rgb(230, 174, 32);
    z-index: 1;
}
.thirdbodyImage{
    position: relative;
    z-index: 1;
}