.footerTwoContainer{
    height: 20rem;
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
}

.footerTwoImg{
    width: 30%;
    display: flex;
    align-items: center;
}

.locationContainer{
    font-size: 1rem;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.locationTitle{
    color: white;
    font-size: 1.5rem;
}

.location{
    font-weight: bold;
    letter-spacing: 2px;
}