.firstImage{
    background-image: url('../../../images/pad-thai-in-a-white-plate-with-lemon-eggs-and-sea-2023-11-27-05-06-17-utc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 35%;
    height: 35rem;
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: -18rem;
}

.secondImage{
    background-image: url('../../../images/pot-with-fire-2023-11-27-05-03-15-utc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 35%;
    height: 60rem;
    width: 100%;
    position: absolute;
    z-index: 0;
    margin-top: -18rem;
}